<div class="container app">
<div class="row">
<div class="col-lg-12">
<div class="well">

<%- model_class = Tweet -%>
<div class="page-header">
  <h1 class="text-center">What are you thinking of?</h1>
  <h3 class="text-center">Max. 160 characters</h3>
</div>


<%= render :partial => 'form' %>

<% if @tweet.comments.present? %>
<h3>Comments:</h3>
<%= render partial: 'tweets/comment', collection: @tweet.comments %>
<% end %>
<%= render partial: 'comments/form' if user_signed_in? %>


</div>
</div>
</div>
</div>

