
<div class="container">
<div class="row">
<div class="col-lg-12">

<% @tweets.each do |tweet| %>
<div class="well">
<div class="tweet">
<h2><%= link_to tweet.body, tweet %></h2>
</div>
</div>
<% end %>

</div>
</div>
</div>




